@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class

.header {
  font-size: 30pt;
  place-items: center;
  place-content: center;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  color:  #000000;
}

.label{
  font-size: 30pt;
  padding-left: 10%;
  padding-right: 5%;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
}

.numButton {
  font-size: 30pt;
  place-items: center;
  place-content: center;
  place-self: center;
  margin: 20px 20px 20px 20px;
  border: #FFFFFF;
  border-radius: 100px;
  color: #FFFFFF;
  background-color: #000000;
}
.numButton:active {
  color: #000000;
  background-color: #00FFFF;
}

.funcButton {
  font-size: 30pt;
  place-items: center;
  place-content: center;
  place-self: center;
  margin: 20px 20px 20px 20px;
  border: #FFFFFF;
  border-radius: 100px;
  color: #FFFF00;
  background-color: #000000;
}
.funcButton:active {
  color: #0000FF;
  background-color: #00FFFF;
}
